
 <table class="table table-striped">
   <thead>
     <tr>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Date Of Birth</th>
     <th>Gender</th>
     <th>Address</th>
     </tr>
   </thead>
   <tbody>
 <ng-container *ngFor="let caregiver of caregivers">
   <tr>
   <td>{{ caregiver.firstName }}</td>
    <td>{{caregiver.lastName}}</td>
    <td>{{caregiver.dateOfBirth}}</td>
    <td>{{caregiver.gender}}</td>
    <td>{{caregiver.address}}</td>
    <button class="btn btn-success w-20" [routerLink]="['/caregiver/patients', caregiver.id]" class="btn btn-outline-secondary fa fa-user-circle"></button>
    <button class="btn btn-success w-20" [routerLink]="['/caregiver/patients/add', caregiver.id]" class="btn btn-outline-primary fa fa-user-plus"></button>
    <button id="edit" [routerLink]="['/caregiver/', caregiver.id]" class="btn btn-info fa fa-pencil"></button>
    <button id="remove" (click)="deleteRow(caregiver)" class="btn btn-danger fa fa-trash"></button>
   </tr>
 </ng-container>

 </tbody>
 </table>
