<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Medical Record</th>
    </tr>
  </thead>
  <tbody>
    <ng-container >
      <tr>
        <td>{{patient.firstName }}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.dateOfBirth}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.medicalRecord}}</td>


          <button class="btn btn-success w-20" [routerLink]="['/patient/medPlan', getId()]"
            class="btn btn-outline-secondary fa fa-file"></button>


      </tr>
    </ng-container>

  </tbody>
</table>
