<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Medical Record</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let patient of patients">
      <tr>
        <td>{{ patient.firstName }}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.dateOfBirth}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.medicalRecord}}</td>

        <div *ngIf="!addPatient">
          <button class="btn btn-success w-20" [routerLink]="['/patient/medPlan', patient.id]"
            class="btn btn-outline-secondary fa fa-file"></button>
          <div *ngIf="!fromCaregiver">
            <button id="edit" [routerLink]="['/patient/', patient.id]" class="btn btn-info fa fa-pencil"></button>
            <button id="remove" (click)="deleteRow(patient)" class="btn btn-danger fa fa-trash"></button>
          </div>
        </div>
        <button id="addPatient" class="btn btn-primary fa fa-plus" *ngIf="addPatient"
          (click)="addPatientForCaregiver(patient.id)"></button>
      </tr>
    </ng-container>

  </tbody>
</table>
